body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #797979;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}
#navbar {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
}
#nav-content {
  width: 90%;
  /* border: 1px black solid; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#title {
  display: flex;
  align-items: center;
}
#title > img {
  width: 50px;
  height: 54.62px;
  margin: 18px 12px 18px 32px;
}
#title > h1 {
  font-size: 24px;
  font-weight: 800;
  color: #2d343f;
}
#table {
  width: 85%;
  /* border: 1px black solid; */
}
#filelist {
  height: max-content;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
#searchBar {
  margin: 20px 0;
  width: 85%;
}
#content {
  margin-top: 0;
  width: 100%;
  /* border: 1px black solid; */
}
#submitbutton {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 5px 15px;
  border-radius: 5px;
  /* cursor: pointer; */
}
#footer {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  margin: 50px 0 0 0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #374151;
  min-height: 200px;
  justify-content: center;
}
#footer > h1 {
  font-size: 15px;
  text-align: center;
}
#footer > h3 {
  font-size: 12px;
  font-weight: 600;
}
@media (max-width: 640px) {
  #table {
    flex-direction: column;
  }
  #title > img {
    width: 30px;
    height: 34.62px;
    margin: 15px 0;
  }
  #title > h1:nth-child(2) {
    display: none;
  }
  #title > h1 {
    margin: 0 10px;
    font-size: 15px;
  }
  #filelist {
    overflow-x: auto;
  }
  #modal {
    width: 90%;
  }
  #modalEdit {
    width: 90%;
  }
}
